body {
  margin: 0;
  background-color: rgb(14, 14, 14);
}

.recent-projects {
  padding: 40px 0;
  background-color: white;
  color: black;
  width: 100%;
  box-sizing: border-box;
  font-family: "Poppins", serif;

}

.project-section-title {
  font-size: 1rem;
  font-weight: normal;
  margin: 0 100px;
  color: #fe5000;
  text-align: center;
}

.project-main-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 10px;
  text-align: center;
}

.carousel {
  position: relative;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.carousel-cards {
  display: flex;
  transition: transform 0.5s ease;
  width: 70%;
}

.card-item {
  flex: 0 0 33.33%;
  box-sizing: border-box;
  padding: 20px;
  text-align: center;
  background-color: #fcf5f5;
  margin: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.633);
  position: relative;
  transition: transform 0.3s ease-in-out;
}

.card-item:hover {
  transform: scale(1.05);
}

.card-image {
  width: 150px; /* Ensuring uniform width */
  height: 150px; /* Ensuring uniform height */
  object-fit: cover;
  border-radius: 50%; /* Circular shape */
  margin: 0 auto; /* Center the image */
}

.card-info {
  margin-top: 15px;
}

.project-card-title {
  font-size: 1.2rem;
  font-weight: bold;
  color: rgb(0, 0, 0);
}

.card-subcategory {
  font-size: 1rem;
  color: #fe5000;
  font-weight: 500;
}

.see-work-btn {
  padding: 10px 20px;
  background-color: #fe5000;
  color: white;
  text-decoration: none;
  font-size: 15px;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease;
  text-transform: uppercase;
}

.see-work-btn:hover {
  background-color: #ff7800;
  transform: translateY(-5px); /* Lift effect */
}


.card-item:hover .see-work-btn {
  opacity: 1;
  transform: translateY(0);
}

.see-work-btn:hover {
  background-color: #ff7800;
  transform: translateY(-5px); /* Slight lift on hover */
}

.prev-btn, .next-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 1;
}

.prev-btn {
  left: 10px;
}

.next-btn {
  right: 10px;
}

.prev-btn:hover, .next-btn:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

@media (max-width: 768px) {
  .card-item {
    flex: 0 0 50%;
  }

  .see-work-btn {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .recent-projects {
    padding: 20px 0;
  }

  .section-title {
    margin: 0 20px;
    font-size: 1.1rem;
  }

  .card-item {
    flex: 0 0 100%;
  }

  .card-image {
    height: 130px;
    width: 130px; /* Slightly smaller images on small screens */
  }

  .prev-btn, .next-btn {
    padding: 8px;
    font-size: 1.2rem;
  }
}
