.how-we-work {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 20px;
    font-family: "Montserrat", serif;

  }
  
  .how-we-work-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    gap: 30px;
  }
  
  .how-we-work-left, .how-we-work-right {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  
  .bold-text {
    font-size: 30px;
    font-weight: bold;
    color: #f0f0f0;
    line-height: 1.2;
    font-family: "Montserrat", serif;
  }
  
  .simple-text {
    font-size: 1rem;
    margin-top: 3.5rem;
    font-weight: normal;
    color: #ffffff;
    line-height: 1.5;
    font-family: "Montserrat", serif;

  }
  
  .section-heading {
    font-size: 1rem;
    font-weight: normal;
    color: #fe5000;
    margin-bottom: 30px;
  }
  
  .pricing-btn {
    margin-top: 20px;
  }
  
  .pricing-btn-button {
    padding: 15px 15px;
    background-color: #fe5000;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .pricing-btn-button:hover {
    background-color: #892c00;
  }

  
.hww-icon-container-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  color: white;
}

.hww-icon-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hww-icon-wrapper {
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hww-icon-wrapper h1 {
  font-size: 1rem;
  font-family: "Montserrat", serif;
}


.hww-icon-wrapper p {
  font-weight: 200;
  font-size: 1rem;
  opacity: 0.8;
  font-family: "Poppins", serif;
}

.hww-icon {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #fe5000;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Icon Sizes */
.hww-icon.left {
  font-size: 40px;
}

.hww-icon.middle {
  font-size: 40px;
}

.hww-icon.right {
  font-size: 40px;
}

.svg-arrow {
  color: yellow; 
  font-size: 400px; 
  
  width: 200px;
  height: 40px;
  margin: 0 20px;
}

  
  /* Responsive adjustments */
  @media (max-width: 768px) {
    .how-we-work-content {
      flex-direction: column;
      align-items: center;
      gap: 20px;
    }
  
    .how-we-work-left, .how-we-work-right {
      padding: 10px;
      width: 100%;
    }
  
    .how-we-work-left {
      order: 1;
    }
  
    .how-we-work-right {
      order: 2;
    }
  
    .section-heading {
      font-size: 1rem;
      margin-bottom: 10px;
    }
  
    .bold-text {
      font-size: 3rem;
      margin: 0;
    }
  
    .simple-text {
      font-size: 1.1rem;
      margin: 0;
    }
    .hww-icon-container {
      display: flex;
      justify-content: space-around;
      margin-bottom: 20px;
    }
  
    .hww-icon-wrapper {
      padding: 40px;
      margin: 10px 0;
    }
  
    .hww-icon {
      width: 50px;
      height: 50px;
    }
  
    .hww-icon-wrapper h1 {
      font-size: 1rem;
    }
  
    .hww-icon-wrapper p {
      font-size: 0.9rem;
    }
    .hww-icon.left {
      font-size: 30px;
    }
    
    .hww-icon.middle {
      font-size: 30px;
    }
    
    .hww-icon.right {
      font-size: 30px;
    }
  }
  
/* For screens under 480px */
@media (max-width: 480px) {
  .hww-icon-container {
    flex-direction: column;
    align-items: flex-start;
    padding: 0 10px;
  }

  .hww-icon-wrapper {
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
  }

  .hww-icon {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
  }

  .hww-icon-wrapper h1 {
    font-size: 0.875rem;
    margin-bottom: 5px;
  }

  .hww-icon-wrapper p {
    font-size: 0.75rem;
  }
  .section-heading {
    font-size: 0.9rem;
    margin-bottom: 10px;
  }

  .bold-text {
    font-size: 2rem;
    margin: 0;
  }

  .simple-text {
    font-size: 1rem;
    margin: 0;
  }
  .hww-icon-container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;

  }

  .hww-icon-wrapper {
    padding: 20px;
    margin: 10px 0;
  }
}
