.capabilities-container {
    text-align: center;
    padding: 50px 20px;
    margin-bottom: 50px;
    
}

.capabilities-title {
    font-size: 20px;
    margin-bottom: 5rem;
    color: #fe5000;
    animation: fadeInTitle 1s ease-in-out;
}

.capabilities-subtitle {
    font-size: 30px;
    margin-bottom: 40px;
    animation: fadeInSubtitle 1.5s ease-in-out;
    color: white;
}

.buttons-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.button-row {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.capability-btn {
    background-color: #fe5000;
    color: white;
    font-weight: 500;
    border: none;
    padding: 15px 25px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 5px;
}

/* Button Hover Animation */
.capability-btn:hover {
    background-color: #712401;
    transform: scale(1.1);
}

/* Title Fade-in Animations */
@keyframes fadeInTitle {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInSubtitle {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Responsive Design */
@media (max-width: 768px) {
    .button-row {
        
        gap: 10px;
    }

    .capability-btn {
        width: 100%;
        padding: 10px 20px;
    }
    .capabilities-title {
        font-size: 20px;
        margin-bottom: 3rem;
}
}

@media (max-width: 480px) {
    .button-row {
        
        gap: 10px;
    }

    .capability-btn {
        width: 100%;
        padding: 10px 20px;
        font-size: 50%;
    }
}
