.capabilities-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 50px 20px;
    margin-bottom: 50px;

}

.capabilities-title {
    font-size: 1rem;
    margin-bottom: 2rem;
    color: #fe5000;
    animation: fadeInTitle 1s ease-in-out;
}

.capabilities-subtitle {
    font-size: 24px;
    margin-bottom: 2rem;
    color: white;
    animation: fadeInSubtitle 1.5s ease-in-out;
}

/* Button container setup */
.buttons-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.button-row {
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
}

/* Button styles */
.capability-btn {
    background-color: #fe5000;
    color: white;
    font-weight: 500;
    border: none;
    padding: 15px 25px;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 5px;
}

.capability-btn:hover {
    background-color: #712401;
    transform: scale(1.1);
}

/* Fade-in animations */
@keyframes fadeInTitle {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInSubtitle {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (max-width: 768px) {
    .capabilities-title {
        font-size: 1rem; 
        margin-bottom: 1.5rem;
    }

    .capabilities-subtitle {
        font-size: 1.3rem;
    }

    .capability-btn {
        padding: 10px 10px;
        font-size: 0.6rem; /* Smaller button text */
    }

    
}

@media (max-width: 480px) {
    .capabilities-title {
        font-size: 1rem; /* Even smaller title for mobile */
        margin-bottom: 1rem;
    }

    .capabilities-subtitle {
        font-size: 1.1rem; /* Smaller subtitle for mobile */
    }

    .capability-btn {
        padding: 10px 10px;
        font-size: 0.5rem; /* Slightly smaller buttons on mobile */
    }

    .buttons-container {
        gap: 10px;
    }

    .button-row {
        gap: 8px;
    }
}

@media (max-width: 320px) {
    .capabilities-title {
        font-size: 0.8rem; /* Much smaller title for tiny screens */
        margin-bottom: 0.5rem;
    }

    .capabilities-subtitle {
        font-size: 1rem; /* Even smaller subtitle for tiny screens */
    }

    .capability-btn {
        padding: 4px 4px;
        font-size: 0.4rem; /* Smaller buttons */
    }
}
