.footer-main-section {
    margin: 0 100px 0 100px;
}

.footer-first-section {
    background-color: rgb(14, 14, 14);
    color: white;
    padding: 100px 20px;
    border-radius: 30px;
    text-align: center;
    margin-top: -130px;
  }
  
  .footer-first-section h1 {
    font-weight: bold;
    font-size: 70px;
    margin: 10px 0;
  }
  
  .footer-first-section p {
    margin: 20px 0;
  }
  
  .pricing-button {
    background-color: yellow;
    font-size: 20px;
    border: none;
    padding: 15px 40px;
    cursor: pointer;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  .pricing-button:hover {
    background-color: #ffcc00;
  }
  
  .footer-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    color: white;
  }
  
  .footer-left {
    width: 45%;
  }
  
  .logo img {
    width: 150px;
    margin-bottom: 15px;
  }
  
  .footer-right {
    width: 45%;
    text-align: right;
  }
  
  .contact-info {
    text-align: right;
  }
  
  .contact-info p {
    margin: 10px 0;
  }
  
  .contact-info .social-icons i {
    font-size: 20px;
    margin-left: 10px;
    cursor: pointer;
  }
  .contact-info .social-icons i:hover {
    color: yellow;
  }
  
  .separator-line {
    height: 1px;
    background-color: #444;
    margin: 20px 0;
  }
  
  /* Footer Links */
  .footer-links {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #111;
    color: white;
  }
  
  /* Footer Links */
.footer-links-left ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: flex-start;
  }
  
  .footer-links-left li {
    margin-right: 20px;
    cursor: pointer;
  }
  
  .footer-links-left li:hover {
    color: yellow;
  }
  
  
  .footer-links-right p {
    margin: 0;
  }
  
  /* Responsiveness */
  @media (max-width: 768px) {
    .footer-main {
      flex-direction: column;
      align-items: center;
    }
  
    .footer-left, .footer-right {
      width: 100%;
      text-align: center;
    }
  
    .footer-links {
      flex-direction: column;
      text-align: center;
    }
  
    .footer-links-left, .footer-links-right {
      width: 100%;
      margin: 10px 0;
    }
  }