.how-we-work {
  padding: 50px;
  margin: 0 100px;
}

.how-we-work-content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
  flex-wrap: wrap;
}

.benefits-section-heading {
  font-size: 1rem;
  font-weight: normal;
  color: #fe5000;
  margin-bottom: 30px;
}

.benefits-bold-text {
  font-size: 3rem;
  font-weight: bold;
  color: #ffffff;
  line-height: 1.2;
}

.how-we-work-left,
.how-we-work-right {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-width: 280px;
}

.benefits-simple-text {
  font-size: 1.3rem;
  margin-top: 4rem;
  font-weight: normal;
  color: #ffffff;
  line-height: 1.5;
}

.benefits-pricing-btn {
  margin-top: 20px;
}

.pricing-btn-button {
  padding: 10px 20px;
  background-color: #fe5000;
  border: none;
  color: rgb(0, 0, 0);
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
}

.pricing-btn-button:hover {
  background-color: #812900;
}

/* Benefits Grid */
.benefits-grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columns */
  gap: 20px;
  margin-top: 40px;
}

.benefit-box .benefits-title {
  color: aliceblue;
  font-size: 20px;
  font-weight: 500;
}

.benefits-description{
  color: #ffe0d1;
}

.benefit-box .benefits-icon {
  color: #fe5000;
}

.benefit-box {
  border: 1px solid #453d1f;
  padding: 40px;
  text-align: center;
  border-radius: 8px;
  transition: transform 0.3s ease-in-out;
  position: relative;
}

.benefit-box:hover {
  transform: translateY(-10px);
}

.benefit-box .benefits-icon {
  font-size: 40px;
  margin-bottom: 15px;
}

/* Responsiveness for different screen sizes */

@media (max-width: 768px) {
  
  .how-we-work {
    margin: 15px;
  }

  .benefits-bold-text {
    font-size: 2.8rem;
    margin: 0;
  }

  .benefits-simple-text {
    font-size: 1rem;
    margin: 0;
  }

  .benefits-grid-container {
    grid-template-columns: 1fr; /* 1 column on small screens */
  }

  .pricing-btn-button {
    padding: 8px 16px;
    margin-top: 20px;
  }
}

@media (max-width: 480px) {
  .benefits-section-heading {
    font-size: 1rem;
  }

  .benefits-bold-text {
    font-size: 1.8rem;
  }

  .benefits-simple-text {
    font-size: 0.9rem;
  }

  .benefits-pricing-btn {
    margin-top: 10px;
  }

  .benefits-grid-container {
    gap: 15px;
  }

  .pricing-btn-button {
    padding: 8px 14px;
  }
}
